.tox .tox-statusbar__branding svg {
    fill: rgba(34,47,62,.8);
    height: 1.14em;
    vertical-align: -.28em;
    width: 3.6em;
    display: none !important;
}
.header-info > ul > li a i {
    font-size: 12px !important;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display:none !important;
}
.VIpgJd-ZVi9od-aZ2wEe {
    display:none !important;
}
.skiptranslate {
    display:none !important;
}
.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
    display:none !important;

}