// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/vendors-import';

// 3. Base stuff
@import
  'base/common',
  'base/animation',
  'base/typography';

// 4. Components
@import
  'components/buttons',
  'components/form',
  'components/slider',
  'components/card',
  'components/tabs',
  'components/misc',
  'components/banners';

// 5. Page-specific styles
@import
  'pages/page',
  'pages/shop',
  'pages/blog',
  'pages/print',
  'pages/invoice',
  'pages/vendors';

// 6. Themes
@import
  'themes/default';

// 7. Layout-related sections
@import
'layout/header',
'layout/navigation',
'layout/sidebar',
'layout/footer',
'layout/spacing',
'layout/responsive';